[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "==3.9.0"
beautifulsoup4 = "==4.6.0"
requests = "==2.20.0"
WTForms = "==2.2.1"
Flask = "==1.1.1"
Flask-WTF = "==0.14.2"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
